body {
  background-color: #8ecae6; /* Dark background */
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}

.app-container {
  text-align: center;
}

.react-logo {
  width: 150px;
  height: auto;
}
